{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Lista de autores
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Lista de autores</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for author in authors %}
                        <tr>
                            <td>{{ author.id }}</td>
                            <td>{{ author.name }}</td>
                            <td>{{ author.lastname }}</td>
                            <td>{{ author.email }}</td>
                            <td>
                                <a href="{{ url_for('authors.delete_author', author_id=author.id) }}" class="btn btn-danger btn-sm">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                                <a href="{{ url_for('authors.edit_author', author_id=author.id) }}" class="btn btn-primary btn-sm">
                                    <i class="fa-regular fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
